.document-view {
  padding: 1em 2em;
  font-size: 15px;
}

.document-section {
  margin-bottom: 1em;
}
.document-header {
  width: 100%;
  /* background: #ddd; */
  /* padding: 0.5em; */
  /* border-bottom: 1px solid #ccc; */
  /* border-top: 1px solid #ccc; */
  border: 1px solid #ccc;
  font-weight: bold;
  background: #eee;
  padding: 0 4px;
}
.document-notes {
  /* padding: 0.5em; */
  padding: 4px;
  width: 100%;
  border: none;
  font-family: sans-serif;
  height: 2em;
}

