html {
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.3em;
  height: 100%;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}
.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-header {
  padding: 4px 2px;
  background: black;
  color: #ccc;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* padding-left: 4px; */
}
.app-header-logo {
  font-size: 26px;
  font-family: 'Futura Std Light', futura, sans-serif;
  margin: 4px 0;
}
.app-header-logo img {
  height: 22px;
  margin-right: 4px;
}
.app-controls {
  padding: 4px 2px;
  /* font-size: 0.9em; */
  background: #111;
}
.app-controls span+span {
  margin-left: 8px;
}
.app-controls-facet {
  /* margin-left: 8px; */
}
.app-controls-groupby {
  /* margin-left: 8px; */
}
.app-controls-filterby {
  /* margin-left: 8px; */
}
.app-controls-sortby {
  /* margin-left: 8px; */
}
.app-controls-view {
  /* margin-left: 8px; */
}
.app-controls-new {
  margin-left: 8px;
}
select {
  font-size: 1em;
}
.app-header-query {
  padding: 4px 0;
  font-size: 14px;
  background: #333;
  color: #999;
}

.app-contents {
  height: 100%;
  overflow-y: auto;
}

