html {
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.3em;
  height: 100%;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}
.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-header {
  padding: 4px 2px;
  background: black;
  color: #ccc;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* padding-left: 4px; */
}
.app-header-logo {
  font-size: 24px;
  font-family: 'Futura Std Light', futura, sans-serif;
  margin-bottom: 4px;
}
.app-header-logo img {
  height: 24px;
  margin-right: 4px;
}
.app-controls {
  padding: 4px 2px;
  font-size: 0.9em;
  background: #111;
}
.app-controls-groupby {
  margin-left: 8px;
}
.app-controls-view {
  margin-left: 8px;
}
select {
  font-size: 1em;
}
.app-header-query {
  padding: 4px 0;
  font-size: 14px;
  background: #333;
  color: #999;
}

.app-contents {
  height: 100%;
  overflow-y: auto;
}



/* //. override defaults here. better way? */
.tabulator {
  font-size: 13px !important;
  height: 100%;
}
.tabulator-row {
  border-bottom: 1px solid #ddd;
  background: none;
}
.tabulator-row .tabulator-cell {
  border-right: 1px solid #ddd !important;
}
.tabulator-row.tabulator-row-even {
  background: none;
}
.tabulator-row.tabulator-selectable:hover {
  background: #f2f2f2 !important;
}

.tabulator-row .tabulator-cell {
  padding: 0px 4px;
  height: 1.7em !important;
}

.tabulator-row.tabulator-group {
  background: #d6dbf1;
}
.tabulator-row.tabulator-group span {
  color: gray;
}
