html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.3em;
}

.app-header {
  padding: 4px 0;
  background: black;
  color: #ccc;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* padding-left: 4px; */
}
.app-header-logo {
  font-size: 24px;
  font-family: 'Futura Std Light', futura, sans-serif;
}
.app-header-logo img {
  height: 24px;
  margin-right: 4px;
}
.app-header-facet {
  padding: 5px 0;
  background: #333;
}
select {
  font-size: 1em;
}
.app-header-query {
  padding: 4px 0;
  font-size: 0.9em;
  background: #333;
  color: #999;
}




/* //. override defaults here. better way? */
.tabulator {
  font-size: 13px !important;
}
.tabulator-row {
  border-bottom: 1px solid #ddd;
}
.tabulator-row .tabulator-cell {
  border-right: 1px solid #ddd !important;
}
.tabulator-row.tabulator-row-even {
  background: none !important;
}
.tabulator-row.tabulator-selectable:hover {
  background: #f2f2f2 !important;
}
