body {
  margin: 0;
  font-family: sans-serif;
}

.app-header {
  background: black;
  color: #ccc;
  font-size: 24px;
  font-family: 'Futura Std Light', futura, sans-serif;
  display: flex;
  align-items: center;
}

.app-header img {
  height: 24px;
}
